<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="container mt-4">
    <div class="alert alert-success text-center">
        <h2 class="mb-3">✅ Successful purchase</h2>
        <p class="lead">Your ticket has been successfully issued.
            Thank your for choosing our cinema</p>
        <a href="/" class="btn btn-primary mt-3">Back to the main page</a>
    </div>
</div>

<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>