<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <h1 class="mb-3">Cinema</h1>
            <p class="lead">
                Cinema is the place where films come to life.
                We don’t just screen movies — we create an atmosphere: cozy halls, dazzling premieres, unexpected retrospectives, and special showings.
                Here, every screening is an event of its own.
            </p>
        </div>
    </div>
</div>

<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>